MYSQL_USER=infra_user
MYSQL_PASSWORD=infra_password
MYSQL_DATABASE=infraestrutura
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=rootpassword

DATABASE_URL=mysql+pymysql://infra_user:infra_password@db:3306/infraestrutura
